.App {
  display: grid;
  place-items: center;
  margin: auto;
  background-color: #15141c;
  max-width: 1300px;
  max-height: 800px;
  padding: 2rem 0rem;
  margin-top: 5rem;
  border-radius: 1.5rem;
}
